
<% if(flash.present?) %>
  <% flash.each do |msg| %>
    <div class="<%=msg[0]%>">
      <%=msg[1]%>
    </div>
  <% end %>
<% end %>


<!-- Navigation -->
<nav class="navbar navbar-default navbar-custom navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header page-scroll">
      <a class="navbar-brand" href="/main">Start FSPOT</a>
    </div>
  </div>
  <!-- /.container -->
</nav>

<!-- Page Header -->
<%= render 'main_page/header' %>

<!-- Main Content -->
<% if(session[:user_id] == nil) %>
  <div class="container">
    <div class="login">
      <form class="form-signin">
        <label for="inputEmail" class="sr-only">Email address</label>
        <input class="form-control"><br>
        <label for="inputPassword" class="sr-only">Password</label>
        <input class="form-control">
        <div class="checkbox">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div>
        <a href="/main" type="button" class="btn btn-lg btn-primary btn-block">Log In</a>
        <a href="/users/new" type="button" class="btn btn-lg btn-primary btn-block">Sign Up</a>
      </form>
    </div>
  </div>
<% else %>
  <a href="/log-out" type="button" class="btn btn-default btn-lg">Log Out</a>
<% end %>



<hr>
<!-- Footer -->
<%= render 'main_page/footer' %>























