<!-- header -->
<DIV class="banner" style="background: url('banner.jpg') no-repeat center top;">
  <DIV class="container_wrap">
    <H1 style="margin-top: 5%; font-size: 30px;">
      Welcome to F-SPOT
    </H1>
  </DIV>
</DIV>
