<!-- header -->
<%= stylesheet_link_tag "clean-blog.min.css" %>
<HEADER class="intro-header" style="background-image: url('/assets/about-bg.jpg')">
  <DIV class="container" id = "head">
        <DIV class="page-heading">
          <H1>FSPOT</H1>
          <HR class="small">
         <SPAN class="subheading">find the best food ever</SPAN>
        </DIV>
  </DIV>
</HEADER>