<!-- header -->
<HEADER class="intro-header" style="background-image: url('/assets/about-bg.jpg')">
  <DIV class="container">
    <DIV class="row">
      <DIV class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <DIV class="page-heading">
          <H1>
      Welcome to FSPOT
    </H1>

          <HR class="small">

          <SPAN class="subheading">
      find the best food ever
    </SPAN>
        </DIV>
      </DIV>
    </DIV>
  </DIV>
</HEADER>