<script>
    navigator.geolocation.getCurrentPosition(show);

    function show(position){
        var geoLat = document.getElementById("geolat");
    		var geoLng = document.getElementById("geolng");
    		var lat = position.coords.latitude;
    		var lng = position.coords.longitude;
    		geoLat.innerHTML = "Latitude:" + lat;
    		geoLng.innerHTML = "Longitude" + lng;	
     }

</script>

<!-- search navbar -->
<div class="navbar navbar-default navbar-fixed-top" role="navigation">
	<div class="container">
		<div class="row">
			<div class="col-xs-3 col-lg-3">
				<a href="/friends" type="button" class="btn btn-default btn-sm pull-left">
				  	<span class="glyphicon glyphicon-align-left" aria-hidden="true"></span>
				</a>
			</div>


			<div class="col-xs-6 col-lg-6" >
				<div class="panel panel-default">
					<form action ="/main" method='get'>
						<input type="text" name="search" class="form-control" data-toggle="collapse" href="#collapseOne">
					</form>
					<div id="collapseOne" class="panel-collapse collapse ">
	      				<div class="panel-body">
	      					<div class="button-group">						
								<button class="btn btn-default btn-sm " >By Category</button>
								<button class="btn btn-default btn-sm " >By Place</button>
							</div>			
	      				</div>
	      			</div>
				</div>
		    </div>

		    <div class="col-xs-3 col-lg-3">
		    	  <a href="/maps" type="button" class="btn btn-default btn-sm pull-right">
				  	<span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
				  </a>
		    </div>

		</div>
	</div>
</div>

<!-- slider with name, description and img -->
<div class="container" id="slider">
	<div class="lazy">
		<% @uploads.each do |upload| %>
		<div>
			<H1><%= upload.name %></H1>
			Uploaded By: @<%=User.find(upload.user_id).email %>
			<HR class="small">
			<%= upload.description %>
			<div class="container">
				<img id="img" data-lazy =<%= image_url upload.picture_url %>>
			</div>
		</div>
    <% end %>
    </div>
</div>

<!-- navbar favourite,dislike -->
<div class="container" id="like">
	<div class="row">
		<center>
			<div class="button-group">
				<button type="button" class="btn btn-default btn-lg " >
				  <span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>
				</button>
				<button type="button" class="btn btn-default btn-lg " >
				  <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
				</button>
				<button type="button" class="btn btn-default btn-lg " >
				  <span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span>
				</button>
			</div>
		</center>
	</div>
</div>


<!--upload-->
<div class="navbar navbar-default navbar-fixed-bottom", role="navigation">
	<div class="container">
		<div class="row">
			<div class="col-xs-6 col-lg-6">
				<p>Brandeis University</p>
				<p id="geolat"></p>
				<p id="geolng"></p>
			</div>
			<div class="col-xs-6 col-lg-6">
				<div class="upload">
				  <a href="/upload/index" type="button" class="btn btn-default btn-lg pull-right">
				  	<span class="glyphicon glyphicon-camera" aria-hidden="true"></span>
				  </a>
				</div>	
			</div>	
		</div>
	</div>
</div>





