<h1> <%= params[:id] %> </h1>
<% user = User.find(params[:id])%>

<h1><%=user.email%><h1>
<%array = Upload.where(user_id: params[:id])%>
<% array.each do |a| %>
<img src=<%=a.picture%>></img>
<br>
<%end%>
