// Place all the styles related to the MainPage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.container .jumbotron h1 {
	text-align: center;
	color: #23241F;
}

.lazy img {
	margin-right: auto;
	margin-left: auto;
	width: 100%;
	height: 100%;	
}
