// Place all the styles related to the MainPage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.intro-header{
	height: 200px;
}
.intro-header .container{
	height: 200px;
}
.page-heading{
	height: 200px;
	margin-top: -90px;
}

.container{
	margin-left: auto;
	margin-right: auto;
	height: 400px;
}
.lazy {
	margin-left: auto;
	margin-right: auto;
	height: 400px;
}
.slick-list draggable{
	margin-left: auto;
	margin-right: auto;
	height: 400px;
}
.slick-track{
	margin-left: auto;
	margin-right: auto;
	height: 400px;
}
.upload{
	margin-top: 20px;
	margin-left: 130px;
	
}
#slider{
	width: 400px;
	height: 400px;
}
.col-xs-8 {
	margin-left: 15px;
	margin-top: 10px;
}
