// Place all the styles related to the maps controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#map-canvas {
  margin-top: 10px;
  height    : 300px;
}

#header_back a,
.header_back a {
  display          : block;
  width            : 70px;
  height           : 70px;
  position         : absolute;
  top              : 55px;
  left             : 10px;
  background       : url('back_png-a7f497c130dc86f2cce3419afca4bf32.png');
  background-size  : 45px 45px;
  background-repeat: no-repeat;

}

.starRating:not(old) {
  display       : inline-block;
  width         : 7.5em;
  height        : 1.5em;
  overflow      : hidden;
  vertical-align: bottom;
}

.starRating:not(old) > input{
  margin-right: -100%;
  opacity     : 0;
}

.starRating:not(old) > label{
  display        : block;
  float          : right;
  position       : relative;
  background     : url('star-off-3af36a7676880e8ef77d771a4784a593.svg');
  background-size: contain;
}

.starRating:not(old) > label:before{
  content        : '';
  display        : block;
  width          : 1.5em;
  height         : 1.5em;
  background     : url('star-on-d8ca6d0e6326cb229a71f5ac82c9a0aa.svg');
  background-size: contain;
  opacity        : 0;
  transition     : opacity 0.2s linear;
}

.starRating:not(old) > label:hover:before,
.starRating:not(old) > label:hover ~ label:before,
.starRating:not(:hover) > :checked ~ label:before{
  opacity: 1;
}
