<DIV class="container">
  <DIV class="col-lg-3">
    <DIV class="content_middle_box">
      <DIV class="inner_wrap1">
      	<H1 class="green">
	  Share to Your Friends
	</H1>
      </DIV>
    </DIV>
  </DIV>
</DIV>

<%= render 'form' %>

<DIV class="container">
  <DIV class="col-lg-3">
    <DIV class="content_middle_box">
      <DIV class="inner_wrap1">
      	<%= link_to 'Back', main_path %>
      </DIV>
    </DIV>
  </DIV>
</DIV>

