<div class="container">
  <div class="col-lg-3">
    <div class="content_middle_box">
      <div class="inner_wrap1">
      	<h1>New Uploads</h1>
      </div>
    </div>
  </div>
</div>

<%= render 'form' %>

<div class="container">
  <div class="col-lg-3">
    <div class="content_middle_box">
      <div class="inner_wrap1">
      	<%= link_to 'Back', uploads_path %>
      </div>
    </div>
  </div>
</div>

